/* 共通 css */
:root {
    --main-bg-color: #F2F2F2 ;
    --sub-bg-color: #3D546A;
    --main-font-color: #333333;
    --sub-font-color: #E85C4E;
    --button-bg-color: #E85C4E;
}
* {
    box-sizing: border-box;
    color: var(--main-font-color);
}
body {
    font-family: 
        "Hiragino Kaku Gothic ProN",
        sans-serif;
    margin: unset;
    background-color: var(--main-bg-color);
}
h2, p, fieldset {
    margin: unset;
    padding: unset;
    border: unset;
}
h2 {
    font-weight: 600;
    font-size: 28px;
    color: var(--main-font-color);
    text-align: center;
    margin-bottom: 30px;
}
p {
    font-weight: 300;
    font-size: 14px;
    color: var(--main-font-color);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 60px 10px;
}
form {
    display: flex;
    flex-direction: column;
}
fieldset {
    display: grid;
    background-color: #ffffff;
    margin-bottom: 10px;
}
fieldset > div {
    margin: 10px;
}
label,
fieldset.attendance p {
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #3D546A;
    padding: 10px;
}
span.required {
    color: var(--sub-font-color);
    background-color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    padding: 0 8px;
    margin-left: 10px;
}
p.required {
    color: var(--sub-font-color);
    width: 100%;
    display: none;
}
input {
    height: 37px;
    border: unset;
    background-color: var(--main-bg-color);
}
input#name {
    width: 100%;
}
fieldset.tel div {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
fieldset.tel input {
    width: 80px;
}
fieldset.date input {
    width: 200px;
}
div.input_group_attendance {
    display: flex;
    align-items: center;
}
fieldset.attendance input {
    height: unset;
}
fieldset.attendance label {
    color: var(--main-font-color);
    background: unset;
    padding: unset;
}
div.details {
    margin: 15px 10px 30px;
}
div.details .offline_details {
    display: none;
}
input[type="submit"] {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 40px;
    height: 70px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: #ffffff;
    margin: unset;
    align-self: center;
}
/* 広い画面向けの CSS */
@media (min-width: 600px) {
    fieldset {
        margin-bottom: 2px;
        grid-template-columns: 1fr 2fr;
    }
    fieldset > div {
        margin: 20px;
    }
    label,
    fieldset.attendance p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    div.details {
        margin: 15px 30px 30px;
    }
}
