/* 共通 css */
:root {
    --main-bg-color: #F2F2F2 ;
    --sub-bg-color: #3D546A;
    --main-font-color: #333333;
    --sub-font-color: #E85C4E;
    --button-bg-color: #E85C4E;
}
* {
    box-sizing: border-box;
    color: var(--main-font-color);
}
body {
    font-family: 
        "Hiragino Kaku Gothic ProN",
        sans-serif;
    margin: unset;
    background-color: var(--main-bg-color);
}
h2, p, fieldset {
    margin: unset;
    padding: unset;
    border: unset;
}
h2 {
    font-weight: 600;
    font-size: 28px;
    color: var(--main-font-color);
    text-align: center;
    margin-bottom: 30px;
}
p {
    font-weight: 300;
    font-size: 14px;
    color: var(--main-font-color);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 60px 10px;
}
fieldset {
    display: grid;
    background-color: #ffffff;
    margin-bottom: 10px;
}
legend {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #3D546A;
    padding: 10px;
}
label {
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #3D546A;
    padding: 10px;
}
span.required {
    color: var(--sub-font-color);
    background-color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    padding: 0 8px;
    margin-left: 10px;
}
input {
    margin: 10px;
    height: 37px;
    border: unset;
    background-color: var(--main-bg-color);
}
div.input_group_tell {
    display: flex;
    align-items: center;
}
input#tel {
    width: 80px;
}
input#date {
    width: 200px;
}
div.input_group_attendance{
    display: flex;
    align-items: center;
}
input#online,
input#offline {
    height: unset;
}
label[for="online"],
label[for="offline"] {
    color: var(--main-font-color);
    background: unset;
    padding: unset;
}
div.details {
    margin: 15px 10px 30px;
}
div.details address {
    display: none;
}
input[type="submit"] {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 40px;
    height: 70px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: #ffffff;
    margin: unset;
}
/* 広い画面向けの CSS */
@media (min-width: 600px) {
}
